<nav class="navbar navbar-expand-sm navbar-light bg-light" style="margin:0px; padding:1px">
    <a class="navbar-brand" style="margin-top: 0px" routerLink="#"><h2 style="margin: 0px; padding :0px; color: #009900;">PackMeGood<h6 style="margin: 0px ;color: navy"> <em>Packaging for Every purposes</em></h6></h2></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active " style="color: green">
                <a class="nav-link" routerLink="/home"style="color: green"><h3>Home </h3><span class="sr-only">(current)</span></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="/about"style="color: green"><h3>About us</h3></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="/product"style="color: green"><h3>Product</h3></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="/blog"style="color: green"><h3>Blog</h3></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact"style="color: green"><h3>Contact us</h3></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            
        </ul>
       
    </div>
</nav>



